html/edit.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WPM - Edit playlist</title>
    <link href="css/body.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/edit.css" rel="stylesheet">
    <link href="css/boxGroup.css" rel="stylesheet">
    <link href="css/buttonGroup.css" rel="stylesheet">
    <link href="css/inPlaylist.css" rel="stylesheet">
    <link href="css/existedFilesList.css" rel="stylesheet">

    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel = "stylesheet">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="scripts/buttonActions.js"></script>
    <script>
        var currentElementIndex;
        var selectedRecordInPlaylist = {};
        var filesInPlaylist = [];

        $( function() {
            $( "#filesInPlaylist" ).selectable({
                selected: function () {
                    var resultOfFunct = $( ".ui-selected", this ).each(function () {
                        var x = $( "#filesInPlaylist li" ).index(this);
                        selectedRecordInPlaylist.indexOfItem = x;
                    });
                }
            });
            $( "#existedMediaFiles").selectable({
                selected: function () {
                    currentElementIndex = $( ".ui-selected", this).each(function () {
                        return $( "#existedMediaFiles li" ).index(this).value;
                    })
                }
            });
        } );

    </script>
</head>
<body class="pageBody">
    <div class="fullBody">
        <div id="pageHeader">
            <div id="logoLabel">WPM</div>
            <div id="navBar">
                <ul>
                    <li>
                        <a href="#list">
                            <div class="menuElement">
                                <img src="img/ic_list_white_48dp_2x.png" class="menuIcon">
                                List of playlists
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#new">
                            <div class="menuElement">
                                <img src="img/ic_create_new_folder_white_48dp_2x.png" class="menuIcon">
                                Create new playlist
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#edit">
                            <div class="menuElement">
                                <img src="img/ic_edit_white_48dp_2x.png" class="menuIcon">
                                Edit playlist
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#delete">
                            <div class="menuElement">
                                <img src="img/ic_delete_forever_white_48dp_2x.png" class="menuIcon">
                                Delete playlist
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="pageFooter">
            <div id="editlistLabel">
                Edit playlist
            </div>
            <div id="selectPlaylist">
                <div id="selectFormElements">
                    <div id="comboBoxElement">
                        <select id="selectPlaylistComboBox" class="selectPlaylistCombobox">
                            <option class="selectPlaylistOption">TestPlaylist1.m3u8</option>
                            <option class="selectPlaylistOption">TestPlaylist2.m3u8</option>
                            <option class="selectPlaylistOption">TestPlaylist3.m3u8</option>
                            <option class="selectPlaylistOption">TestPlaylist4.m3u8</option>
                        </select>
                    </div>
                    <div id="loadButtonElement">
                        <button id="load" class="loadButton" name="load">Load...</button>
                    </div>
                    <div id="loadedFilenameLabelElement">
                        Loaded Playlist File:
                    </div>
                    <div id="playlistFilenameElement">
                        TestPlaylist1.m3u8
                    </div>
                </div>
            </div>
            <div id="boxGroupElement">
                <div id="inPlaylist">
                    <ol id="filesInPlaylist" class="selectableList"></ol>
                </div>
                <div id="buttonGroupElement">
                    <div id="buttons">
                        <a href="#" onclick="addElementToPlaylist(currentElementIndex, filesInPlaylist)">
                            <div id="addButton" class="divButtons">
                                <img src="img/ic_add_circle_white_24dp_2x.png" class="buttonIcon">
                                <div class="buttonLabel">Add</div>
                            </div>
                        </a>
                        <a href="#" onclick="deleteElementFromPlaylist(selectedRecordInPlaylist, filesInPlaylist)">
                            <div id="delButton" class="divButtons">
                                <img src="img/ic_delete_forever_white_48dp_2x.png" class="buttonIcon">
                                <div class="buttonLabel">Delete</div>
                            </div>
                        </a>
                        <a href="#" onclick="bringToUp(selectedRecordInPlaylist,filesInPlaylist)">
                            <div id="upButton" class="divButtons">
                                <img src="img/ic_arrow_upward_white_24dp_2x.png" class="buttonIcon">
                                <div class="buttonLabel">Up</div>
                            </div>
                        </a>
                        <a href="#" onclick="bringToDown(selectedRecordInPlaylist, filesInPlaylist)">
                            <div id="downButton" class="divButtons">
                                <img src="img/ic_arrow_downward_white_24dp_2x.png" class="buttonIcon">
                                <div class="buttonLabel">Down</div>
                            </div>
                        </a>
                        <a href="#save">
                            <div id="saveButton" class="divButtons">
                                <img src="img/ic_save_white_24dp_2x.png" class="buttonIcon">
                                <div class="buttonLabel">Save</div>
                            </div>
                        </a>
                    </div>
                    </div>
                <div id="existedFilesListElement">
                    <ul id="existedMediaFiles" class="selectableMediaList">
                        <li class="ui-widget-content">
                            <div class="li-container">
                                <div class="filename" >
                                    <img src="img/ic_video_library_black_48dp_2x.png" width="25px" height="25px" />
                                    First media file.mp4
                                </div>
                                <div class="fileInfo">
                                    <div class="hasBitrateVariantLabel">available on</div>
                                    <div class="hasBitrateVariant">320, 480, 720</div>
                                    <div class="hasProblemsLabel">problems</div>
                                    <div class="hasnotProblems">1</div>
                                </div>
                            </div>
                        </li>
                        <li class="ui-widget-content">Second media file.mp4</li>
                        <li class="ui-widget-content">Third media file.mp4</li>
                        <li class="ui-widget-content">Fourth media file.mp4</li>
                        <li class="ui-widget-content">Fifth media file.mp4</li>
                        <li class="ui-widget-content">Sixth media file.mp4</li>
                        <li class="ui-widget-content">Sevensth media file.mp4</li>
                        <li class="ui-widget-content">Eighth media file.mp4</li>
                        <li class="ui-widget-content">Ninth media file.mp4</li>
                        <li class="ui-widget-content">Tenth media file.mp4</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

jade/edit.jade
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        |
        title WPM - Edit playlist
        |
        link(href="css/body.css", rel="stylesheet")
        |
        link(href="css/header.css", rel="stylesheet")
        |
        link(href="css/edit.css", rel="stylesheet")
        |
        link(href="css/boxGroup.css", rel="stylesheet")
        |
        link(href="css/buttonGroup.css", rel="stylesheet")
        |
        link(href="css/inPlaylist.css", rel="stylesheet")
        |
        link(href="css/existedFilesList.css", rel="stylesheet")
        |
        link(href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css", rel="stylesheet")
        |
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        |
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        |
        script(type="text/javascript", src="scripts/buttonActions.js")
        |
        script.
            var currentElementIndex;
            var selectedRecordInPlaylist = {};
            var filesInPlaylist = [];
            $( function() {
                $( "#filesInPlaylist" ).selectable({
                    selected: function () {
                        var resultOfFunct = $( ".ui-selected", this ).each(function () {
                            var x = $( "#filesInPlaylist li" ).index(this);
                            selectedRecordInPlaylist.indexOfItem = x;
                        });
                    }
                });
                $( "#existedMediaFiles").selectable({
                    selected: function () {
                        currentElementIndex = $( ".ui-selected", this).each(function () {
                            return $( "#existedMediaFiles li" ).index(this).value;
                        })
                    }
                });
            } );
    body.pageBody
        .fullBody
            #pageHeader
                #logoLabel WPM
                |
                #navBar
                    ul
                        li
                            a(href="#list")
                                .menuElement
                                    img.menuIcon(src="img/ic_list_white_48dp_2x.png")
                                    |                                 List of playlists
                        |
                        li
                            a(href="#new")
                                .menuElement
                                    img.menuIcon(src="img/ic_create_new_folder_white_48dp_2x.png")
                                    |                                 Create new playlist
                        |
                        li
                            a(href="#edit")
                                .menuElement
                                    img.menuIcon(src="img/ic_edit_white_48dp_2x.png")
                                    |                                 Edit playlist
                        |
                        li
                            a(href="#delete")
                                .menuElement
                                    img.menuIcon(src="img/ic_delete_forever_white_48dp_2x.png")
                                    |                                 Delete playlist
            |
            #pageFooter
                #editlistLabel
                    | Edit playlist
                |
                #selectPlaylist
                    #selectFormElements
                        #comboBoxElement
                            select#selectPlaylistComboBox.selectPlaylistCombobox
                                option.selectPlaylistOption TestPlaylist1.m3u8
                                |
                                option.selectPlaylistOption TestPlaylist2.m3u8
                                |
                                option.selectPlaylistOption TestPlaylist3.m3u8
                                |
                                option.selectPlaylistOption TestPlaylist4.m3u8
                        |
                        #loadButtonElement
                            button#load.loadButton(name="load") Load...
                        |
                        #loadedFilenameLabelElement
                            | Loaded Playlist File:
                        |
                        #playlistFilenameElement
                            | TestPlaylist1.m3u8
                |
                #boxGroupElement
                    #inPlaylist
                        ol#filesInPlaylist.selectableList
                    |
                    #buttonGroupElement
                        #buttons
                            a(href="#", onclick="addElementToPlaylist(currentElementIndex, filesInPlaylist)")
                                #addButton.divButtons
                                    img.buttonIcon(src="img/ic_add_circle_white_24dp_2x.png")
                                    |
                                    .buttonLabel Add
                            |
                            a(href="#", onclick="deleteElementFromPlaylist(selectedRecordInPlaylist, filesInPlaylist)")
                                #delButton.divButtons
                                    img.buttonIcon(src="img/ic_delete_forever_white_48dp_2x.png")
                                    |
                                    .buttonLabel Delete
                            |
                            a(href="#", onclick="bringToUp(selectedRecordInPlaylist,filesInPlaylist)")
                                #upButton.divButtons
                                    img.buttonIcon(src="img/ic_arrow_upward_white_24dp_2x.png")
                                    |
                                    .buttonLabel Up
                            |
                            a(href="#", onclick="bringToDown(selectedRecordInPlaylist, filesInPlaylist)")
                                #downButton.divButtons
                                    img.buttonIcon(src="img/ic_arrow_downward_white_24dp_2x.png")
                                    |
                                    .buttonLabel Down
                            |
                            a(href="#save")
                                #saveButton.divButtons
                                    img.buttonIcon(src="img/ic_save_white_24dp_2x.png")
                                    |
                                    .buttonLabel Save
                    |
                    #existedFilesListElement
                        ul#existedMediaFiles.selectableMediaList
                            li.ui-widget-content First media file.mp4
                            |
                            li.ui-widget-content Second media file.mp4
                            |
                            li.ui-widget-content Third media file.mp4
                            |
                            li.ui-widget-content Fourth media file.mp4
                            |
                            li.ui-widget-content Fifth media file.mp4
                            |
                            li.ui-widget-content Sixth media file.mp4
                            |
                            li.ui-widget-content Sevensth media file.mp4
                            |
                            li.ui-widget-content Eighth media file.mp4
                            |
                            li.ui-widget-content Ninth media file.mp4
                            |
                            li.ui-widget-content Tenth media file.mp4
