wpmServer/views/index.jade
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Wowza Playlist Maker - Authorization
    link(href="css/body.css", rel="stylesheet")
    link(href="css/wpmBase.css", rel="stylesheet")
    link(href="css/auth.css", rel="stylesheet")
    link(href="img/favicon.ico", rel="icon", type="image/x-icon")
    link(href="img/favicon.ico", rel="shortcut icon", type="image/x-icon")
  body.pageBody
    #fullBody
      #pageHeader
        #headerLabel
          | WPM - Wowza Playlist Maker
      #pageFooter
        .authForm
          .authLabel
            .formLabel AUTHORIZTION FORM
          .formElement
            form(method='post')
              .usernameField
                label(for="username") Username:  
                input#username(type="text", name="username")
              .passwordField
                label(for="pass") Password:  
                input#pass(type="password", name="pass")
              .buttonset
                input(type="submit", value="Login")
                input(type="reset")

html/index.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wowza Playlist Maker - Authorization</title>
    <link href="css/body.css" rel="stylesheet">
    <link href="css/wpmBase.css" rel="stylesheet">
    <link href="css/auth.css" rel="stylesheet">
</head>
<body class="pageBody">
    <div id="fullBody">
        <div id="pageHeader">
            <div id="headerLabel">
                WPM - Wowza Playlist Maker
            </div>
        </div>
        <div id="pageFooter">
            <div class="authForm">
                <div class="authLabel">
                    <div class="formLabel">AUTHORIZTION FORM</div>
                </div>
                <div class="formElement">
                    <form>
                        <div class="usernameField">
                            <label for="username">Username:&nbsp;&nbsp;</label>
                            <input type="text" name="username" id="username" />
                        </div>
                        <div class="passwordField">
                            <label for="pass">Password:&nbsp;&nbsp;</label>
                            <input type="password" id="pass" name="pass" />
                        </div>
                        <div class="buttonset">
                            <input type="button" value="Login"/>
                            <input type="reset" />
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
